:root {
  --primary: #FFCE00;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  display: flex;
}

.card {
  margin: 100px auto 0;
  width: 400px;
  height: 600px;
  /* NOTE задает перспективу при повороте */
  perspective: 1000px
}

.card__inner {
  width: 100%;
  height: 100%;
  /* NOTE  анимируем трансформацию,  transform-style: preserve-3d - без него обратная сторона отображает фронтальную в перевернутом виде, свойство позволяет проходить сквозь родительский элемент и задается родителю */
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  /* NOTE position for parent */
  position: relative;
}

.card__inner.is-flipped {
  /* NOTE этот класс добавляем в js*/
  transform: rotateY(180deg);
}


.card__face {
  /* NOTE position for child */
  position: absolute;
  width: 100%;
  height: 100%;
  /* NOTE скрывает тыльную сторону переворачиваемого элемента */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
   /* NOTE разворачиваем тыльную сторону */
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.avatar {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}